@page "/about"

<PageTitle>About</PageTitle>

<PageSubHeader>
    <h2>About</h2>
</PageSubHeader>

<p>My name is David Tabaka. I'm a full-stack software developer focusing on .NET with an interest in the latest cloud technologies. </p>
<p>If you're interested in working together or have an opportunity for someone with my background, please reach out!</p>
<p>
    My <a target="_blank" href="https://www.linkedin.com/in/david-tabaka/">LinkedIn profile is here</a> as well as my <a target="_blank" href="https://googlecloudcertified.credential.net/profile/369b7f1d995f1027125a7dc30bd21d46e6093df3?sjid=15176455522514405997-NC&name=tabaka">Google Cloud Certification page</a>
</p>

@code {

}
