﻿@using System.Timers
@implements IDisposable
@inject AppStateService AppStateService

<div class="page-header">
    <h2>Catalog</h2>
    <div class="search-input-container">
        <input type="text" placeholder="Enter search criteria" @bind-value="@searchTerm" @bind-value:event="oninput" @onkeyup="@HandleKeyUp" />
    </div>
</div>

@code {

    string searchTerm = string.Empty;
    private Timer? debounceTimer;

    protected override void OnInitialized()
    {
        debounceTimer = new Timer(1000);
        debounceTimer.Elapsed += OnUserFinishedTyping;
        debounceTimer.AutoReset = false;
        searchTerm = AppStateService.SearchTerm ?? "";
    }

    void HandleKeyUp(KeyboardEventArgs e)
    {
        // remove previous one
        debounceTimer.Stop();
        // new timer
        debounceTimer.Start();
    }

    private void OnUserFinishedTyping(Object source, ElapsedEventArgs e)
    {      
        AppStateService.UpdateSearchTerm(this, searchTerm);
    }

    void IDisposable.Dispose() { 
        debounceTimer.Elapsed -= OnUserFinishedTyping;
    }
}
