@using AntDesign
@using Models
@inject AppStateService AppStateService
 
<Drawer Width="500" Closable="true" @bind-Visible="Visible" Placement="right" Title='("Product Details")' OnClose="HandleDrawerClose">
    <table class="product-details">
        <tr>
            <td>Variety:</td>
            <td>@_tomato?.Variety</td>
        </tr>
        <tr>
            <td>Description:</td>
            <td>@_tomato?.Description</td>
        </tr>
        <tr>
            <td>Fruit Set:</td>
            <td>@_tomato?.FruitSet</td>
        </tr>
        <tr>
            <td>Days to Maturity:</td>
            <td>@_tomato?.DaysToMaturity</td>
        </tr>
        <tr>
            <td>Type:</td>
            <td>@_tomato?.Type</td>
        </tr>
    </table>
</Drawer>
 
@code {

    private Tomato _tomato;

    [Parameter]
    public bool Visible { get; set; }

    [Parameter]
    public string Id { get; set; }

    [Parameter]
    public EventCallback<bool> OnDetailClosed { get; set; }

    protected override async Task OnParametersSetAsync()
    {
        // This method is called when parameters are set, asynchronously
        Console.WriteLine($"OnParametersSetAsync called for {Id}");

        _tomato = AppStateService.Tomatoes.FirstOrDefault(t => t.DocumentId == Id);
    }

    private void HandleDrawerClose()
    {
        OnDetailClosed.InvokeAsync(true);
    }
}
