@page "/charts"
@using AntDesign.Charts
@using Title = AntDesign.Charts.Title
@inject AppStateService AppStateService

<PageTitle>Charts</PageTitle>

<PageSubHeader>
    <h2>Charts</h2>
</PageSubHeader>

@*<h3>Demo charting components</h3>
*@
@*<ul>
    <li>Days to Maturity (Calendar chart)</li>
    <li>Hottest pepper scale (Gauge)</li>
    <li>Tomatoes by usage (Bar chart)</li>
    <li>Largest varieties (Bubble chart w/ colors red, pink, purple, green, yellow, orange)</li>
</ul>*@

<h3>Bar Chart Demo - Days to Maturity</h3>
 <AntDesign.Charts.Column Data="data" Config="config" />

@code {

    object[] data;

    protected override async Task OnInitializedAsync()
    {
        data = AppStateService.Tomatoes.Where(t => t.FruitSet.ToLower() == "indeterminate").OrderBy(t => t.DaysToMaturity).Select(t => new
        {
            type = t.Variety,
            maturity = t.DaysToMaturity
        }).ToArray();
    }

    ColumnConfig config = new ColumnConfig
        {
            AutoFit = true,
            XField = "type",
            YField = "maturity",
            Meta = new
            {
                Type = new
                {
                    Alias = "Variety",
                },
                
                Sales = new
                {
                    Alias = "Days to Maturity"
                }
            },
            Color = new[] { "#6cbb3c", "#607D3B", "#2d5e16" }
        };

}
