@page "/"

<PageTitle>Index</PageTitle>

<h1>Hello, world from Cloud Run!</h1>

Welcome to your new app using Cloud Build Trigger from linked Github Repo - 10/12/23@10:35pm

<SurveyPrompt Title="How is Blazor working for you?" />
