@inherits LayoutComponentBase

<head>
    <style>

        .menu {
            grid-area: menu;
            background-color: #273d23;
            box-shadow: 5px 0 15px 10px #aaaaaa;
            }

        .main { 
            grid-area: main; 
            padding-left:40px;
            padding-right:40px;
            overflow-y: auto;
        }
    
        .grid-container {
            display: grid;
            grid-template-columns: 300px 1fr; /* Adjust the width of the left menu as needed */
            grid-template-areas:
            'menu main';
            height: 100vh;
        }

    </style>
</head>
<body>

<div class="grid-container">
    <div class="menu">
        <NavMenu />
    </div>
    <div class="main">
        @Body
    </div>  
</div>

</body>